@{
    ViewData["Title"] = "New Match";
}

<form method="post">
    <p>
        <label for="firstPlayerName">First player</label><br />
        <input type="text" id="firstPlayerName" name="firstPlayerName" placeholder="Enter player name..." required />
    </p>
    <p>
        <label for="secondPlayerName">Second player</label><br />
        <input type="text" id="secondPlayerName" name="secondPlayerName" placeholder="Enter player name..." required />
    </p>
    <p>
        <input type="submit" value="Start" />
    </p>
</form>