@model NewMatch

@{
    ViewData["Title"] = "New Match";
}

<form method="post" class="new-match-form">
    <div asp-validation-summary="ModelOnly" class="validation-summary validation"></div>
    <div class="player-input">
        <label asp-for="FirstPlayerName">First player</label>
        <input asp-for="FirstPlayerName" placeholder="Enter player name..." />
        <span asp-validation-for="FirstPlayerName" class="validation"/>
    </div>
    <div class="player-input">
        <label asp-for="SecondPlayerName">Second player</label>
        <input asp-for="SecondPlayerName" placeholder="Enter player name..." />
        <span asp-validation-for="SecondPlayerName" class="validation"/>
    </div>
    <button type="submit">Start</button>
</form>