@model NewMatchRequest

@{
    ViewData["Title"] = "New match";
}

<form asp-action="StartNewMatch" method="post" class="new-match-form">
    <div class="player-input">
        <label asp-for="FirstPlayerName">First player</label>
        <div class="input-container">
            <input asp-for="FirstPlayerName" placeholder="Enter player name..." />
            <span asp-validation-for="FirstPlayerName" />
        </div> 
    </div>
    <div class="player-input">
        <label asp-for="SecondPlayerName">Second player</label>
        <div class="input-container">
            <input asp-for="SecondPlayerName" placeholder="Enter player name..." />
            <span asp-validation-for="SecondPlayerName" />
        </div>
    </div>
    <div asp-validation-summary="ModelOnly"></div>
    <button type="submit" class="submit-button">Start</button>
</form>