<h1>Home page</h1>

<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="NewMatch" asp-action="Index">New Match</a></li>
        <li><a asp-controller="Matches" asp-action="GetMatches">Matches</a></li>
    </ul>
</nav>