@model MatchScoreViewModel

@{
    var matchScore = Model.MatchScore;
}

<table class="match-score-table">    
    <thead>
        <tr>
            <th>Player</th>
            @if (!matchScore.IsMatchFinished) {
                <th>Game</th>
            }
            @for (int set = 1; set <= matchScore.NumberOfSets; set++) {
                <th>Set @set</th>
            }
            @if (!matchScore.IsMatchFinished) {
                <th>Set @(matchScore.NumberOfSets + 1)</th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            await Html.RenderPartialAsync(
                "PlayerScore", new PlayerScoreViewModel(matchScore, matchScore.FirstPlayer)
            );
            await Html.RenderPartialAsync(
                "PlayerScore", new PlayerScoreViewModel(matchScore, matchScore.SecondPlayer)
            );
        }
    </tbody>
</table>
